* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url("./assets/8aoVnb.png");
    background-repeat: no-repeat;
    background-size: cover;       /* mantém proporção */
    background-position: center top;
    background-color: #080808;
    color: white;
}


body * {
    font-family: "inter";
    line-height: 160%;
}

header {
    padding-top: 5rem;
    text-align: center;
}

header img {
    width: 15rem;
}

main {
    min-height: calc(100vh - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


section {
    width: 100%;
    max-width: 36rem;
    border-radius: 0.625rem;
    padding-top: 4px;
}

section > div {
  padding: 2rem;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: rgba(42, 38, 52, 0); 
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
  transform: translateY(2rem);
  animation: appearWithBlur 700ms ease-out forwards;
}

@keyframes appearWithBlur {
  0% {
    opacity: 0;
    transform: translateY(2rem);
    background-color: rgba(42, 38, 52, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    background-color: rgba(42, 38, 52, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18;
  color: #A1A1AA;
}

form {
    display: flex;
    gap: 0.85rem;
    flex-wrap: wrap;
    margin: 1.25rem 0;
}

input, select {
    all: unset;
    border: 2px solid #161616;
    border-radius:0.5rem;
    padding: 0.675rem;
    font-size: 0.875rem;
    background-color: #00000066;
}

input {
    flex: 1;
}

button {
    width: 100%;
    border: 0;
    background-image: linear-gradient(245deg, #5900b9 0%, #cc54ff 50%, #5900b9 100% );
    padding: 0.675rem;
    border-radius: 1.5rem;
    font-weight: thin;
    text-transform: uppercase;
    letter-spacing: 0.12px;

    transition: all 0.3s;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 1rem rgba(250, 107, 255, 0.2);

}

button:disabled {
    transition: initial;
    transform: initial;
    box-shadow: initial;
    cursor: not-allowed;
    color: rgb(12, 12, 12);
}

#aiResponse {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    padding: 1.25rem;
    border-left: 3px solid #cc54ffd4;
    border-right: 1px solid #cc54ffd4;
    
}

#aiResponse ul {
    padding-left: 1.5rem;
    opacity: 0.8;
}

#aiResponse p {
    color: white;
}


.loading {
    animation: pulse 1s infinite;
}

.hidden {
    display: none;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

form {
    justify-content: center;
}

input,
select {
    width: 100%;
}
